<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite">
    <test verbose="2" preserve-order="true" name="excel_automation">
        <classes>
            <class name="tests.TestExcelUtility">
                <methods>
                    <include name="dataDrivenLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>