<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/SQA/webdriver_java/excel_automation">
        <classes>
            <class name="playground.CreateAndWriteExcelData">
                <methods>
                    <include name="createExcelFile"/>
                </methods>
            </class>
            <class name="playground.ReadExcelData">
                <methods>
                    <include name="readFormExcelFile"/>
                </methods>
            </class>
            <class name="playground.ReadPasswordProtectedExcelData">
                <methods>
                    <include name="readPasswordProtectedFile"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>